<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<!--There are two appenders, “FileAppender,” and “ConsoleAppender.”
An appender is the component that effectively writes the log message to its destination.
The first appender defines stdout as its target, while the second defines a pattern for a file name.
In other words, the first appender logs to the standard output while the second one logs to a file-->
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="FileAppender" fileName="application-${date:yyyyMMdd}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>